name: Code checks

on:
  - pull_request

jobs:
  linters:
    name: Auto check
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3.9']
        package: [
            testit-importer-allure
        ]
    steps:
      - uses: actions/checkout@v3

      - name: Install Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install requirements for ${{ matrix.package }}
        run: |
          python -m pip install --upgrade pip
          cd ${{ matrix.package }}
          pip install -r requirements.txt

      # - name: Run flake8 [${{ matrix.package }}]
      #   working-directory: ${{ matrix.package }}
      #   run: flake8 .

      # - name: Run mypy [${{ matrix.package }}]
      #   working-directory: ${{ matrix.package }}
      #   run: mypy .

      # - name: Tests [${{ matrix.package }}]
      #   working-directory: ${{ matrix.package }}
      #   run: pytest --basetemp=tmp
